// TYPOGRAPHY ================================================
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$sidebar-width: 350px;
$nav-height: 50px;

$base-font                : 'Crete Round';
$font-family-base         : 'Crete Round';
$heading-font             : $base-font;
$caption-font             : $base-font;
$code-font                : 'source-code-pro', monospace;
$alt-font                 : 'volkhov', serif;

$doc-font-size            : 16;
$doc-line-height          : 24;

$border-radius            : 3px;


// set-up the body font-size / line-height
// body {
  // margin-top: 0px + $doc-line-height;
  // font-size: 0px + $doc-font-size;
// }
//

$theme-colors: (
                primary: #6F9AD4,
                secondary: #C4E9FF,
                success: #1e6111,
                info:  #64c3d2,
                warning: #f5e74a,
                danger: #820410
                );

// COLORS =====================================================
$body-bg: #FFFBEC;
$body-bg-darker: #F9F2D7;
$body-color               : #363457;
$text-color               : #222;
$base-color               : #F2d5F8;

// MEDIA QUERIES ==============================================
$micro                    : "only screen and (min-width: 30em)";
$small                    : "only screen and (min-width: 37.5em)";
$medium                   : "only screen and (min-width: 48em)";
$large                    : "only screen and (min-width: 62em)";
$x-large                  : "only screen and (min-width: 86.375em)";

@import "bootstrap/scss/bootstrap";
