@import url('./fonts.css');


.header {
    overflow: hidden;
    font-family: var(--slab);
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    color: var(--main-cream);
    background-color: var(--main-blue);
    position: fixed;
    top: 0px;
    width: 100%;
}

.header-left {
    float: left;
    padding-left: 50px;
    padding-bottom: 5px;
}
