@import url('./fonts.css');
@import url('./colors.css');


.header {
    overflow: hidden;
    font-family: var(--slab);
    font-style: normal;
    font-size: 64px;
    line-height: 82px;
    color: var(--main-cream);
    background-color: var(--main-blue);
}

.header-left {
    float: left;
    padding-left: 10px;
    padding-bottom: 5px;
}
