@import 'main.scss';

#primary-case-list {
    text-align: left;
    margin: 10px;
}
#primary-case-list-header {
    margin-left: 5px;
}
.flex-primary-case-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.primary-case-list-item-name {
    margin: 1px;
    flex-grow: 4;
}

.primary-case-list-item-actions {
    margin: 1px;
    flex-grow: 1;
    float: right;
    text-align: right;
}

.primary-case-li {
    padding: 5px;
    padding-right: 4px;
    justify-content: center;
}

.primary-case-list-trash-btn {
}
