@import 'main.scss';

#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    overflow-y: hidden;
    border-left: 1px solid gray;
    z-index: -1;
    background: $body-bg-darker;
    padding: 10px;
}

#wrapper.menuDisplayed #sidebar-wrapper {
    width: $sidebar-width;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: $sidebar-width;
}

.bookmarks-header {
    align: left;
}

.bookmark-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc($sidebar-width - 30);
}
